@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #f4f4f4;
  --color-secondary: #DC7F37;
  --color-tertiary: #B94645;
  --color-quaternary: #9B2F3E;
  --color-quinary: #410324;
  --color-senary: #960E53;
}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal
}

.bg {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-quinary);
}

.text {
  color: var(--color-quinary);
}

.text-secondary {
  color: var(--color-primary);
}